footer {
	background-color: #292c2f;
	color: $backgroundcolor;
	text-align: center;
	p {
		text-align: end;
		margin-bottom: 0%;
	}
}
.fa-brands {
	color: $backgroundcolor;
	margin: 25px 25px 25px 25px;
}