@media (max-width: 600px) {
	.checkbtn {
		display: block;
	}
	ul {
		position: fixed;
		z-index: 9999;
		width: 100%;
		height: calc(100% - 80px);
		background-color: #9a9a9c;
		top: 85px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav {
		ul {
			li {
				display: block;
				margin: 50px 0;
				line-height: 30px;
				a {
					font-size: 20px;
				}
			}
		}
	}
	li {
		a {
			&:hover {
				background: none;
				color: $backgroundcolor;
			}
		}
		a.active {
			background: none;
			color: $backgroundcolor;
		}
	}
	#check {
		&:checked {
			~ {
				ul {
					left: 0;
				}
			}
		}
	}
	footer {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.card-body {
		text-align: center;
	}
	.card {
		top: 20%;
	}
	main {
		iframe {
			width: 100%;
		}
	}
	.section {
		padding: 0px;
	}
	.parrafo {
		margin: 10px;
	}
}
@media (max-width: 900px) {
	.checkbtn {
		display: block;
	}
	ul {
		position: fixed;
		z-index: 9999;
		width: 100%;
		height: calc(100% - 80px);
		background-color: #9a9a9c;
		top: 85px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav {
		ul {
			li {
				display: block;
				margin: 50px 0;
				line-height: 30px;
				a {
					font-size: 20px;
				}
			}
		}
	}
	li {
		a {
			&:hover {
				background: none;
				color: $backgroundcolor;
			}
		}
		a.active {
			background: none;
			color: $backgroundcolor;
		}
	}
	#check {
		&:checked {
			~ {
				ul {
					left: 0;
				}
			}
		}
	}
	
	.card-body {
		text-align: center;
	}
	.card {
		top: 20%;
	}
	.cards1 {
		justify-content: center;
	}
	main {
		iframe {
			width: 100%;
		}
	}
	.section {
		padding: 0px;
	}
	.parrafo {
		margin: 10px;
	}
}